<html>

<head>
  <title>Posts</title>
  <link rel="stylesheet" href="/static/posts.css">
</head>

<body>
  <h1>Posts</h1>
  <form method="post">
    <div>
      Username: <input type="text" name="username" placeholder="Enter username"/>
    </div>

    <div>
      Title: <input type="text" name="post_title"/>
    </div>

    <div>
      <textarea rows="4" cols="50 "name="post" placeholder="Write your post here!"></textarea>
    </div>

    <div>
      Tags: <input type="text" name="tags" placeholder="#tag1, #tag2">
    </div>

    <div>
      <button type="submit">Create Post</button>
    </div>

  </form>



  <script src="/static/posts.js"></script>
</body>


</html>
